.idea
.DS_Store
.vscode
.sass-cache
/version
res/tv/sccn-qbj/.idea
res/tv/sccn/.idea
res/tv/sccnTZ/.idea
res/wasuTv/.idea
res/webview/examinationReport/.idea
res/webview/examinationReport/node_modules
res/webview/*/dev_20130628
html/*/dist
html/*/node_modules
!res/webview/camera/dev_20130628
__pycache__

#error log
hs_err_*.log

# install with: build/cnpm --prefix build install
build/node_modules.ok
node_modules
#package-lock.json
build/node_modules
build/package.json.old
#build/package-lock.json
build/dist
build/dist2
build/build
build/tmp
res/webview/**/[0-9]*/
*.swp
build/logs
.npmrc
!project/pro-activity/20190228/js/node_modules
!project/pro-activity/20190228/js/package-lock.json
!project/pro-activity/20190228/node_modules
!project/pro-activity/20190228/package-lock.json
!project/pro-activityNew/20190228/js/node_modules
!project/pro-activityNew/20190228/js/package-lock.json
!project/pro-activityNew/20190228/node_modules
!project/pro-activityNew/20190228/package-lock.json
!project/pro-mall/20190228/js/node_modules
!project/pro-mall/20190228/js/package-lock.json
!project/pro-mall/20190228/node_modules
!project/pro-mall/20190228/package-lock.json
!project/pro-userStatistics/20190228/js/node_modules
!project/pro-userStatistics/20190228/js/package-lock.json
!project/pro-userStatistics/20190228/node_modules
!project/pro-userStatistics/20190228/package-lock.json
!style/pro-homePage/20190228/node_modules
build/.project_versions.txt
build/*.local
!project/pro-exam-results/20190312/js/create/.idea
!project/pro-exam-results/20190312/js/create/node_modules
!project/pro-exam-results/20190312/js/create/*.swp
!project/pro-exam-results/20190312/js/create/.npmrc
!project/pro-exam-results/20190312/js/lib/.idea
!project/pro-exam-results/20190312/js/lib/node_modules
!project/pro-exam-results/20190312/js/lib/*.swp
!project/pro-exam-results/20190312/js/lib/.npmrc
!project/pro-exam-results/20190312/js/list/.idea
!project/pro-exam-results/20190312/js/list/node_modules
!project/pro-exam-results/20190312/js/list/*.swp
!project/pro-exam-results/20190312/js/list/.npmrc
!project/pro-exam-results/20190312/js/report/.idea
!project/pro-exam-results/20190312/js/report/node_modules
!project/pro-exam-results/20190312/js/report/*.swp
!project/pro-exam-results/20190312/js/report/.npmrc
!project/pro-exam-results/20190312/js/search/.idea
!project/pro-exam-results/20190312/js/search/node_modules
!project/pro-exam-results/20190312/js/search/*.swp
!project/pro-exam-results/20190312/js/search/.npmrc
!project/pro-exam-results/20190312/js/statistics/.idea
!project/pro-exam-results/20190312/js/statistics/node_modules
!project/pro-exam-results/20190312/js/statistics/*.swp
!project/pro-exam-results/20190312/js/statistics/.npmrc
!project/pro-exam-results/20190312/js/student/.idea
!project/pro-exam-results/20190312/js/student/node_modules
!project/pro-exam-results/20190312/js/student/*.swp
!project/pro-exam-results/20190312/js/student/.npmrc
!project/pro-exam-results/20190312/js/.idea
!project/pro-exam-results/20190312/js/node_modules
!project/pro-exam-results/20190312/js/*.swp
!project/pro-exam-results/20190312/js/.npmrc
!project/pro-exam-results/20190312/.idea
!project/pro-exam-results/20190312/node_modules
!project/pro-exam-results/20190312/*.swp
!project/pro-exam-results/20190312/.npmrc
!project/pro-attendance-plan/20190312/js/.idea
!project/pro-attendance-plan/20190312/js/node_modules
!project/pro-attendance-plan/20190312/js/*.swp
!project/pro-attendance-plan/20190312/js/.npmrc
!project/pro-attendance-plan/20190312/.idea
!project/pro-attendance-plan/20190312/node_modules
!project/pro-attendance-plan/20190312/*.swp
!project/pro-attendance-plan/20190312/.npmrc
!project/pro-wyc_public/20190312/js/.idea
!project/pro-wyc_public/20190312/js/node_modules
!project/pro-wyc_public/20190312/js/*.swp
!project/pro-wyc_public/20190312/js/.npmrc
!project/pro-wyc_public/20190312/.idea
!project/pro-wyc_public/20190312/node_modules
!project/pro-wyc_public/20190312/*.swp
!project/pro-wyc_public/20190312/.npmrc
!style/pro-attendance-plan/20190312/.idea
!style/pro-attendance-plan/20190312/node_modules
!style/pro-attendance-plan/20190312/*.swp
!style/pro-attendance-plan/20190312/.npmrc
#config.js
#config.json
